@import "../../index.css";

.logInContainer {
    width: fit-content;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-family: "Cabin Condensed";

    h4 {
        font-size: 2rem;
    }

    form {
        display: flex;
        flex-direction: column;

        input {
            width: 15rem;
            padding: 0.2rem 0.5rem 0.2rem 0.5rem;
            margin: 0.2rem 0 1rem 0;
            border: solid 1px var(--text-color);
            border-radius: 0.2rem;
        }

        button {
            width: 35%;
            padding: 0.5rem;
            margin-bottom: 1rem;
            align-self: center;
            border: none;
            border-radius: 1rem;
            font-weight: bold;
            background-color: var(--text-color);
            color: #ffffff;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        a {
            font-size: 0.8rem;
            color: #3b82f6;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
